<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.dao.food-mapper">
  <select id="foodFindData" resultType="FoodVO" parameterType="hashmap">
    SELECT no,name,poster,address,type
    FROM food
    WHERE ${column} LIKE '%'||#{ss}||'%'
    
    <if test="fdArr != null and fdArr.length > 0">
        AND
        <trim prefix="(" suffix=")" prefixOverrides="OR|AND">
          <if test="fdArr!=null">
            <foreach collection="fdArr" item="fd">
                <choose>
                    <when test="fd=='A'.toString()">
                        OR type LIKE '%한식%'
                    </when>
                    <when test="fd=='B'.toString()">
                        OR type LIKE '%양식%'
                    </when>
                    <when test="fd=='C'.toString()">
                        OR type LIKE '%일식%'
                    </when>
                    <when test="fd=='D'.toString()">
                        OR type LIKE '%중식%'
                    </when>
                    <when test="fd=='E'.toString()">
                        OR type LIKE '%분식%'
                    </when>
                </choose>
            </foreach>
          </if>
        </trim>
    </if>
    ORDER BY no ASC
    OFFSET #{start} ROWS FETCH NEXT 12 ROWS ONLY
	</select>
    <select id="foodFindCount"
            resultType="int"
            parameterType="hashmap">

        SELECT COUNT(*)
        FROM food
        WHERE ${column} LIKE '%'||#{ss}||'%'
		
        <if test="fdArr != null and fdArr.length>0">
           AND 
            <trim prefix="(" suffix=")" prefixOverrides="OR|AND">
              
                <foreach collection="fdArr" item="fd">

                    <choose>
                        <when test="fd=='A'.toString()">
                            type LIKE '%한식%'
                        </when>

                        <when test="fd=='B'.toString()">
                            type LIKE '%양식%'
                        </when>

                        <when test="fd=='C'.toString()">
                            type LIKE '%일식%'
                        </when>

                        <when test="fd=='D'.toString()">
                            type LIKE '%중식%'
                        </when>

                        <when test="fd=='E'.toString()">
                            type LIKE '%분식%'
                        </when>

                    </choose>

                </foreach>
              
            </trim>
        </if>

    </select>
  <select id="foodListData" resultType="FoodVO" parameterType="int">
    SELECT no,name,poster,address
    FROM food
    ORDER BY no ASC
    OFFSET #{start} ROWS FETCH NEXT 12 ROWS ONLY
    
  </select>
</mapper>